<div class="container">
    <div class="starter-template">
        <div ng-controller="geoController">
    
        <h1>CAN I GO OUTSIDE IN {{cityTitle}} YET?</h1>
        
        <h1 ng-repeat="x in current_observation" ng-if="x.temp_c >= 30">NO</h1> 
        <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c >= 30">It's {{x.temp_c}} degrees celsius. Stay indoors, and stay hydrated!</p>

        <h1 ng-repeat="x in current_observation" ng-if="x.temp_c <= 30 && x.temp_c > 0">YES!</h1> 
        <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c <= 30 && x.temp_c >= 0">It's only {{x.temp_c}} degrees celsius.</p>

        <h1 ng-repeat="x in current_observation" ng-if="x.temp_c <= 0">NO!</h1> 
        <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c <= 0">It's literally freezing at {{x.temp_c}} degrees celsius.</p>
        </div>
      </div>
    <div style="float:right;"> powered by 
        <a target=_blank href="http://www.wunderground.com/?apiref=0d15372547deba68">wunderground</a>
    </div>
</div>
