<!-- 
   <div class="container">

      <div class="starter-template">
      	<div ng-controller="obsController">
        <h1>CAN I GO OUTSIDE IN SYDNEY YET?</h1>
        
  	<h1 ng-repeat="x in current_observation" ng-if="x.temp_c > 35">NO</h1> 
  	<p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c > 35">It's {{x.temp_c}} degrees celsius. Stay indoors, and stay hydrated!</p>

  	<h1 ng-repeat="x in current_observation" ng-if="x.temp_c < 35">YES!</h1> 
  	<p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c < 35">It's only {{x.temp_c}} degrees celsius.</p>
        </div>
      </div>
    </div>
 -->
    <div class="container">

      <div class="starter-template">
        <div ng-controller="geoController">
        <!--  DEFAULT IS NO, YES HAS LINK -->
        <h1>CAN I GO OUTSIDE IN {{cityTitle}} YET?</h1>
        
        <!-- <li ng-repeat="x in current_observation">
      {{ x.temp_c }}
    </li> -->
    <h1 ng-repeat="x in current_observation" ng-if="x.temp_c > 35">NO</h1> 
    <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c > 35">It's {{x.temp_c}} degrees celsius. Stay indoors, and stay hydrated!</p>

    <h1 ng-repeat="x in current_observation" ng-if="x.temp_c < 35 && x.temp_c > 0">YES!</h1> 
    <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c < 35 && x.temp_c > 0">It's only {{x.temp_c}} degrees celsius.</p>

    <h1 ng-repeat="x in current_observation" ng-if="x.temp_c < 0">NO!</h1> 
    <p class="lead" ng-repeat="x in current_observation" ng-if="x.temp_c < 0">It's literally freezing at {{x.temp_c}} degrees celsius.</p>
        </div>

      </div>
<div style="float:right;"> powered by <a target=_blank href="http://www.wunderground.com/?apiref=0d15372547deba68">wunderground</a></div>
    </div><!-- /.container -->
